<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>七只狸猫·快讯</title>
    <meta name="keywords" content="狸猫快讯,七只狸猫,快讯,机器学习,人工智能,大数据,AI,资讯,科技资讯"/>
    <meta name="description" content="每天十分钟阅读人工智能科技资讯-用科技视角看世界。应用机器学习技术帮你最少时间了解最高质量人工智能行业资讯。"/>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/vendor.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/times.css" />
    <link rel="stylesheet" href="/css/card.css" />
</head>

<body>
    <div id="m_app">{{ html|safe }}</div>
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/vendor.bundle.js" charset="utf-8"></script>
    <script src="/js/m_bundle.js" charset="utf-8"></script>
</body>

</html>
