body {
  font-family: "Noto Sans CJK SC", "Source Han Sans CN", "微软雅黑", sans-serif;
}
/*====================================================
	http://www.golaravel.com/
	Importing bootstrap less files
====================================================*/
/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
/* common */
/*====================================================
	common styles
====================================================*/
html,
body {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #303030;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
a {
  color: #f4645f;
  outline: none;
}
a:hover {
  color: #f4645f;
}
a:active,
a:focus,
a img {
  outline: none;
}
.btn {
  padding: 7px 14px;
  border-radius: 2px;
}
.btn-default {
  border: 1px solid #f4645f;
  background: #f4645f;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
.btn-default:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  padding: 7px 7px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #f4645f;
  outline: none;
}
blockquote {
  border-left: 4px solid #f4645f;
}
pre {
  padding: 0;
  background: none;
  border: none;
}
::-moz-selection {
  color: #ffffff;
  background: #f4645f;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background: #f4645f;
  text-shadow: none;
}
/* header */
/*====================================================
	header
====================================================*/
.main-header {
  text-align: center;
  padding: 42px 0;
  background: #f4645f;
}
.main-header .branding {
  font-size: 3.5em;
  color: #303030;
}
.main-header .branding:hover {
  text-decoration: none;
}
.main-header .branding img {
  max-width: 100%;
}
.main-header h1 {
  color: #fff;
}
.btn-doc {
  position: relative;
  bottom: -40px;
  border: 1px solid #f1362f;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  .btn-doc {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}
.home-template .main-header {
  padding-top: 62px;
  padding-bottom: 62px;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}
.return-btn {
  float: left;
  padding: 15px;
  padding-right: 5px;
  color: #9d9d9d;
}
/* main-navigation */
.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;
  border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu {
  padding: 0;
  margin: 0;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li.nav-current {
  border-bottom: 2px solid #f4645f;
  margin-bottom: -2px;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}
.main-navigation .menu li:hover > a {
  color: #f4645f;
  text-decoration: none;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #ffffff;
  text-align: left;
  padding: 7px 0px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-navigation .menu li ul li {
  display: block;
  margin: 0;
}
.main-navigation .menu li ul li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul:hover > a {
  color: #f4645f;
}
.main-navigation .menu li:hover ul {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 100%;
}
@media (max-width: 767px) {
  .main-navigation {
    text-align: left;
  }
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li:hover > a {
    color: #f4645f;
    text-decoration: none;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    padding: 0px 0px 0px 20px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* navbar */
.navbar-header {
  text-align: center;
}
.navbar-header i {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}
/* post */
/*====================================================
	main post area
====================================================*/
.content-wrap {
  /* margin-top:65px;*/
}
.article-content-wrap {
  margin-top: 15px;
}
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .featured {
  position: absolute;
  background: #f4645f;
  color: #ffffff;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  font-size: 2.0em;
  line-height: 1.2em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  text-decoration: none;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 14px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .featured-media img {
  width: 100%;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-footer {
  margin-top: 30px;
  padding: 21px 0 0;
}
.post .post-footer .tag-list {
  color: #959595;
  line-height: 28px;
}
.post .post-footer .tag-list a {
  color: #959595;
  margin-left: 7px;
}
.post .post-footer .tag-list a:hover {
  color: #f4645f;
}
/* post content */
/*====================================================
  main post content
====================================================*/
.post-content {
  color: #333;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: #222223;
}
.post-content h1 {
  font-size: 1.6em;
  margin: 0.67em 0;
}
.post-content > h1 {
  margin-top: 0;
  font-size: 1.6em;
}
.post-content h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.post-content h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
.post-content h6 {
  font-weight: 500;
}
.post-content p {
  margin-top: 0;
  margin-bottom: 1.46em;
  font-size: 16px;
  line-height: 26px;
}
.post-content a {
  word-wrap: break-word;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: rgba(0, 0, 0, 0.4);
}
.post-content a:hover {
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-color: rgba(0, 0, 0, 0.6);
}
.post-content a img {
  /* Remove border on IE */
  border: none;
}
.post-content strong,
.post-content b {
  font-weight: 700;
  color: #222223;
}
.post-content em,
.post-content i {
  font-style: italic;
  color: #222223;
}
.post-content img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}
.post-content figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}
.post-content figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  box-sizing: border-box;
}
.post-content figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}
.post-content figure figcaption a {
  text-decoration: none;
  color: #666665;
}
.post-content hr {
  display: block;
  width: 50%;
  height: 1px;
  border: 0 none;
  border-top: #dededc 1px solid;
  margin: 3.2em auto;
  padding: 0;
}
.post-content blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid #f4645f;
  padding-left: 12px;
  color: #666664;
}
.post-content blockquote a {
  color: #666664;
}
.post-content ul,
.post-content ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}
.post-content ul {
  list-style-type: square;
}
.post-content ol {
  list-style-type: decimal;
}
.post-content li {
  margin-bottom: 0.2em;
}
.post-content li ul,
.post-content li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}
.post-content li ul {
  list-style-type: disc;
}
.post-content li ul ul {
  list-style-type: circle;
}
.post-content li p {
  margin: 0.4em 0 0.6em;
}
.post-content .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-content code,
.post-content tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
}
.post-content pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}
.post-content pre code,
.post-content pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}
.post-content table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}
.post-content th,
.post-content td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}
.post-content td {
  vertical-align: top;
}
.post-content tr:nth-child(even) {
  background-color: #efefee;
}
.post-content iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
.post-content figure iframe {
  margin: auto;
}
.post-content table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
@media (min-width: 1100px) {
  .post-content blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;
  }
  .post-content blockquote blockquote {
    margin-left: 0;
  }
  .post-content figure img {
    margin: 0 0 4px;
  }
  .post-content figure figcaption {
    position: absolute;
    left: -172px;
    width: 150px;
    top: 0;
    text-align: right;
    margin-top: 0;
  }
  .post-content figure figcaption:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid #dededc;
    display: block;
    content: "";
    margin-bottom: 10px;
  }
}
.windows .post-content {
  font-size: 16px;
  font-family: "Georgia", "SimSun", sans-serif;
}
/* pagination */
/*====================================================
	pagination
====================================================*/
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block;
}
.pagination a {
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background: #f4645f;
  border-radius: 2px;
}
.pagination a a:hover {
  background: #505050;
  text-decoration: none;
  color: #ffffff;
}
.pagination a i {
  width: 36px;
  height: 36px;
  line-height: 32px;
}
.pagination .page-number {
  background: #f4645f;
  color: #ffffff;
  margin: 0 3px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
  border-radius: 2px;
}
/* author */
/*====================================================
	about author and comment
====================================================*/
.about-author {
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}
.about-author .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.about-author .details {
  margin-left: 114px;
}
.about-author .author {
  font-size: 1.5em;
  margin-bottom: 7px;
}
.about-author .author a:hover {
  text-decoration: none;
}
.about-author .meta-info {
  color: #959595;
  margin-bottom: 7px;
}
.about-author .meta-info span {
  margin-right: 14px;
  white-space: nowrap;
}
.about-author .meta-info span i {
  margin-right: 7px;
}
/* prev and next link */
.prev-next-wrap {
  margin-bottom: 35px;
  text-align: center;
}
@media (max-width: 767px) {
  .prev-next-wrap a {
    display: block;
  }
}
/* sidebar */
/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
}
.main-footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 11px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #f4645f;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post:last-child {
  margin-bottom: 0;
}
.widget .recent-post .recent-single-post .post-title {
  color: #505050;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .recent-post .recent-single-post .post-title:hover {
  color: #f4645f;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date {
  color: #959595;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #f4645f;
  border: 1px solid #f4645f;
  text-decoration: none;
  cursor: pointer;
}
.widget .social {
  padding: 0;
  margin: 0;
}
.widget .social li {
  display: inline-block;
  margin: 0 2px 5px 0;
  text-align: center;
}
.widget .social li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  color: #959595;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .social li:hover i {
  color: #ffffff;
  background: #f4645f;
  border: 1px solid #f4645f;
}
.widget .newsletter .input-group {
  margin-bottom: 10px;
  display: block;
}
.widget .newsletter .input-group .email,
.widget .newsletter .input-group btn {
  width: 100%;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
.samilarItem {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  height: 82px;
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 0px;
}
.similar-articel-title {
  color: #666;
  padding-left: 0px;
}
.similar-article-headImg {
  display: inline-block;
  height: 60px;
  border: 1px solid #ebebeb;
  padding-left: 0px;
  padding-right: 0px;
}
/*.item-icon{
  float: left;
  width: 10px;
  height:10px;
  background: #f4645f;
  margin-top: 7px;
}*/
.tagItem {
  color: #959595;
}
.tagActive {
  color: #ffffff;
  background: #f4645f;
  border: 1px solid #f4645f;
  text-decoration: none;
}
/* cover*/
/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
  text-align: center;
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}
.cover .tag-name {
  margin-top: 0;
}
.cover .post-count {
  margin-top: 7px;
  color: #959595;
}
.cover .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.cover .meta-info {
  color: #959595;
}
.cover .meta-info span {
  margin: 0 7px;
}
.cover .meta-info span i {
  margin-right: 7px;
}
.cover .bio {
  margin-top: 7px;
}
/* footer */
/*====================================================
	footer
====================================================*/
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget .title {
  color: #ffffff;
  border-bottom: 1px solid #303030;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #f4645f;
}
.main-footer .widget .friend-links a {
  border: none;
}
.main-footer .widget .friend-links a:hover {
  border: none;
}
.main-footer .widget .friend-links hr {
  margin: 1em 0;
  border-top: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
  color: #959595;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover {
  color: #f4645f;
}
.main-footer .widget .recent-post .recent-single-post .date {
  color: #505050;
}
.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #999;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #999;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 56px;
  background: rgba(244, 100, 95, 0.6);
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  display: none;
}
#back-to-top:hover {
  background: #f4645f;
}
#back-to-top i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.list .post .featured-media {
  margin-top: 0px;
  overflow: hidden;
  float: left;
  width: 22rem;
  height: 14rem;
}
.list .post .featured-media img {
  width: 100%;
  height: 100%;
}
.intro {
  margin-left: 24rem;
}
.list .post .post-head {
  text-align: left;
}
.list .post .post-head .post-title {
  font-size: 2rem;
}
.list .post-content {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 2rem;
  max-height: 6rem;
}
.list .post .post-content {
  margin-top: 1rem;
}
.list .post .post-head .post-title a {
  color: #222;
}
@media (max-width: 620px) {
  .post .post-head .post-title {
    margin: 0;
    font-size: 24px;
    text-align: left;
  }
  .post .post-head {
    text-align: left;
  }
  .post .post-head .post-meta span {
    margin: 0;
  }
  .post-content {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  }
  .list {
    background: white;
    margin-top: -15px;
  }
  .article {
    margin-top: -15px;
    padding: 0px;
  }
  .article .main-content,
  .sidebar {
    padding: 0px;
  }
  .article .post,
  .article .sidebar .widget {
    padding: 15px;
  }
  .list .post {
    padding: 10px 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
  }
  .list .post .featured-media {
    width: 130px;
    height: 80px;
  }
  .intro {
    margin-left: 140px;
  }
  .list .post-content {
    display: none;
  }
  .list .post .post-head .post-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    min-height: 30px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .list a.info {
    color: #828a92;
    font-size: 12px;
  }
  .pagination {
    margin-top: 15px;
  }
}
#back-to-top.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.nav-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.tab-item {
  width: 25%;
  text-align: center;
}
.tab-item {
  color: #333333;
}
.tab-item-active {
  text-decoration: none;
  color: #f4645f;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
}
.glyphicon {
  top: 4px;
}
.pagination {
  margin-bottom: 70px;
}
.panel-back > .panel-heading {
  color: #f4645f;
  background: none;
  border: none;
}
.list-group-item {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #ddd;
}
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.glyphicon-trend {
  float: right;
  color: #f4645f;
}
.glyphicon-arrow-down {
  color: #4F81E3;
}
.badge {
  background-color: #f4645f;
  margin-top: 3px;
}
.navbar-key-container {
  display: inline-block;
  width: 100px;
  text-align: center;
  float: right;
}
.navbar-week,
.navbar-month {
  display: inline-block;
  width: 50%;
  border: 1px solid #f4645f;
}
.navbar-week {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navbar-month {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-container {
  background: #fff;
}
.paragrpha {
  height: 6px;
}
.navbar-hotdot-active {
  background: #f4645f;
  color: #ffffff;
}
.navbar-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #f4645f;
}
.noData {
  width: 100%;
  height: 400px;
  font-size: 16px;
  text-align: center;
  line-height: 400px;
}
/*'我的'页面信息*/
.myInfo-header-banner {
  height: 200px;
  background: #505050;
}
.myInfo-header-image-border {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -40px;
  top: 50px;
}
.myInfo-header-image {
  position: relative;
  width: 80px;
  height: 80px;
  background: #f4645f;
  border-radius: 40px;
  left: 50%;
  margin-left: -40px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}
.user-thumnail-size {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  left: 50%;
  margin-left: -40px;
  margin-bottom: 10px;
}
.myInfo-header-loginTip {
  color: #fff;
}
.myInfo-container-list {
  background: #fff;
  height: 500px;
}
.myInfo-header-name {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  height: 200px;
}
.myInfo-container-list ul {
  list-style: none;
}
.myInfo-container-list ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
  border-bottom: 1px solid #ccc;
}
.container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.myInfo-container-list .myInfo-label {
  line-height: 50px;
  vert-align: middle;
  font-size: 14px;
  color: #666;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: left;
}
.glyphicon-next {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  line-height: 40px;
  color: #666;
}
/*'收藏'信息页面*/
.collectNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 50px;
  background: #fff;
}
.collect-returnBtn,
.collect-text,
.collect-edit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
}
.collect-returnBtn {
  top: 0;
  line-height: 47px;
}
.collect-text {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
.collect-list {
  background: #fff;
}
.collect-list ul > li {
  height: 60px;
  list-style: none;
  border-bottom: 1px solid #d6d6d6;
}
.collect-title {
  color: #666;
  font-size: 18px;
  line-height: 30px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.collect-time {
  color: #666;
  font-size: 12px;
  line-height: 30px;
}
.glyphicon-star-empty,
.glyphicon-star {
  font-size: 36px;
  color: #f4645f;
}
.article-collect-label {
  margin-right: 5px;
}
.article-operate-all .collectArticle {
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  background: #f4645f;
  color: #fff;
  left: 50% ;
  margin-left: -40px;
  margin-top: 30px;
  text-align: center;
  line-height: 40px;
}
.sports-content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  margin: 0 auto;
  text-align: right;
  margin-top: 10px;
  padding-bottom: 80px;
}
.sports-content-liyu {
  padding-left: 5px;
  line-height: 30px;
}
.sports-content-footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
}
/*狸猫语录暂时样式*/
/*.sports-content-circle-xsmall{
  position: relative;
  width:40px;
  height:40px;
  border-top:2px dotted #666;
  border-left:2px dotted #666;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform: rotate(45deg);
  margin-left: 100px;
  top: 19px;
}*/
.week-search,
.month-search {
  height: 600px;
}
.source-article-url {
  font-size: 8px;
  text-align: center;
  color: #d6d6d6;
}
.source-article-url a {
  color: #0000cc;
  margin-left: 5px;
}
.footer-end-line-wrap {
  margin: auto 0px;
}
.footer-end-line {
  color: #ebebeb;
  text-align: center;
  line-height: 36px;
}
.end-line-left,
.end-line-right {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #ebebeb;
}
.end-line-font {
  padding: 5px;
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
}
.glyphicon-map-marker {
  top: 2px;
}
/*隐藏阅读次数*/
.tag-list {
  display: none;
}
/******重点段落样式start*****/
.abstractContainer {
  position: relative;
}
.underline {
  border-bottom: 1px dashed #986665;
}
.limaoTips {
  position: relative;
  bottom: -18px;
}
.wordTips {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  -webkit-transform: scale(0.8);
  transform: scale(0.65);
  color: #986665;
  width: 72px;
  left: -12px;
}
.imgTips {
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  background: none, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOXB4IiBoZWlnaHQ9IjlweCIgdmlld0JveD0iMCAwIDkgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOSA5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM5ODY2NjUiIGQ9Ik00LjUsMEMyLjAxNCwwLDAsMi4wMTQsMCw0LjVTMi4wMTQsOSw0LjUsOVM5LDYuOTg2LDksNC41UzYuOTg2LDAsNC41LDB6IE01LjAwNyw1LjAwMmgxLjQ5TDQuNTE0LDcuMDA4DQoJbC0yLjA0LTIuMDA2aDEuNTJ2LTNoMS4wMTIiLz4NCjwvc3ZnPg0K") no-repeat;
  cursor: pointer;
  top: 6px;
  left: -14px;
}
/*****重点段落样式end******/
.item .carousel-caption {
  width: 37px;
  background: #f4645f;
  opacity: 0.8;
  font-size: 18px;
  letter-spacing: 3px;
  left: 75%;
  margin-bottom: 30%;
  color: #fff;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.carousel-control {
  width: 30px;
  height: 30px;
  background: #ddd;
  font-size: 30px;
  margin: auto 15px;
  opacity: 0.8;
  color: #fff;
  line-height: 30px;
  vertical-align: middle;
}
.carousel-indicators li {
  width: 16px;
  height: 4px;
  margin: 0px;
  border: 1px solid #ddd;
  border-radius: 0px;
  margin-left: 3px;
}
.carousel-indicators .active {
  width: 16px;
  height: 4px;
  background-color: #ddd;
  margin-left: 3px;
}
.sports-content-wrap {
  background: #fff;
}
.sports-content-address {
  /*padding:20px;*/
  padding-top: 5px;
  letter-spacing: 3px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #445566;
}
.sports-content-address .title {
  font-size: 18px;
}
.sports-content-address .address {
  font-size: 12px;
  padding-left: 2px;
}
.sports-content-center-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sports-content-center-right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  /*margin-left: 20px;*/
  margin: auto 0;
}
.sports-content-bottom-wrap {
  width: 90%;
  margin: 0 auto;
  /*padding:10px;*/
  border-bottom: 1px solid #ddd;
  text-align: justify;
  font-size: 16px;
}
